/* Estilo para el cuerpo de la página */
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Estilo para el contenedor principal */
.container {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    padding: 20px;
}

/* Estilo para el encabezado */
h1 {
    color: #333;
    margin-bottom: 20px;
}

/* Estilo para las etiquetas de los campos */
label {
    display: block;
    text-align: left;
    margin-bottom: 5px;
    color: #333;
}

/* Estilo para los campos de entrada de texto */
input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
}

/* Estilo para el botón de inicio de sesión */
input[type="submit"] {
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 12px 20px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s ease;
}

/* Estilo para el botón de inicio de sesión al pasar el cursor */
input[type="submit"]:hover {
    background-color: #0056b3;
}

/* Estilo para los mensajes de error (puedes usar JavaScript para mostrarlos) */
.error-message {
    color: #ff0000;
    margin-top: 10px;
}

/* Estilo para el enlace de "¿Olvidaste tu contraseña?" (opcional) */
.forgot-password {
    color: #007BFF;
    text-decoration: none;
    font-size: 14px;
}

/* Estilo para el enlace de "¿Olvidaste tu contraseña?" al pasar el cursor (opcional) */
.forgot-password:hover {
    text-decoration: underline;
}